In [51]:
import re
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
import pandas as pd

def limpiar_texto(dataset):
    dataset = dataset.astype(str)
    # Descargar las stop words si no están descargadas
    import nltk
    nltk.download('stopwords')
    
    # Crear el tokenizador de tweets
    tokenizer = TweetTokenizer()

    # Obtener las stop words en inglés
    stop_words = set(stopwords.words('english'))

    # Crear el lematizador (stemmer)
    stemmer = SnowballStemmer('english')

    # Iterar sobre cada fila del dataset
    for index, row in dataset.iterrows():
        # Obtener el texto de la fila
        texto = row['text']  # Asegúrate de que la columna en tu DataFrame se llame 'text'

        # Eliminar menciones, hashtags y URLs
        texto = re.sub(r'@\S+|#[^\s]+|http[s]?://\S+', '', texto)

        # Convertir el texto a minúsculas
        texto = texto.lower()

        # Tokenizar el texto
        palabras = tokenizer.tokenize(texto)

        # Eliminar stop words y aplicar lematización
        palabras_filtradas = [stemmer.stem(p) for p in palabras if p not in stop_words]

        # Convertir la lista de palabras filtradas a una cadena de texto
        texto_filtrado = ' '.join(palabras_filtradas)

        # Actualizar el dataset con el texto filtrado
        dataset.at[index, 'text'] = texto_filtrado

    return dataset

# Crear DataFrame con el ejemplo de texto
data = {'text': ["sooo sad miss san diego ! ! !",
                 "boss bulli ...",
                 "interview ! leav alon",
                 "son * * * , ` put relea alreadi bough"]}

df = pd.DataFrame(data)

# Aplicar la función para limpiar el texto en el dataset
df_limpiado = limpiar_texto(df)

# Imprimir el DataFrame después de la limpieza
print(df_limpiado)

                                    text
0          sooo sad miss san diego ! ! !
1                         boss bulli ...
2                  interview ! leav alon
3  son * * * , ` put relea alreadi bough

[nltk_data] Downloading package stopwords to C:\Users\Jose
[nltk_data]     Julia\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [45]:
data = pd.read_csv('Tweets.csv', usecols = ["text"])
d = data[1:5]
print(d)
print(type(data))

                                                text
1      Sooo SAD I will miss you here in San Diego!!!
2                          my boss is bullying me...
3                     what interview! leave me alone
4   Sons of ****, why couldn`t they put them on t...
<class 'pandas.core.frame.DataFrame'>

In [50]:
limpiar_texto(data)

AttributeError: 'list' object has no attribute 'astype'

In [57]:
import pandas as pd
import re
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

def limpiar_textoaa(dataset):
    # Descargar las stop words si no se han descargado previamente
    import nltk
    nltk.download('stopwords')
    dataset['text'] = dataset['text'].astype(str)
    
    # Inicializar el tokenizador de tweets y el stemmer
    tokenizer = TweetTokenizer()
    stemmer = SnowballStemmer('english')
    
    # Obtener la lista de stop words en inglés
    stop_words = set(stopwords.words('english'))
    
    # Iterar sobre cada fila del DataFrame
    for index, row in dataset.iterrows():
        # Obtener el texto de la fila
        texto = row['text']
        
        # Eliminar menciones, hashtags y URLs
        texto = re.sub(r'@[^\s]+|#[^\s]+|http[^\s]+|www[^\s]+', '', texto)
        
        # Convertir a minúsculas
        texto = texto.lower()
        
        # Tokenización
        palabras = tokenizer.tokenize(texto)
        
        # Eliminar stop words y aplicar lematización (stemming)
        palabras = [stemmer.stem(palabra) for palabra in palabras if palabra not in stop_words]
        
        # Unir las palabras en una cadena separada por espacios
        texto_final = ' '.join(palabras)
        
        # Reemplazar el texto original en el DataFrame
        data.at[index, 'text'] = texto_final
    
    return dataset

# Cargar datos
data = pd.read_csv('Tweets.csv', usecols=["text"])
d = data[1:5]

# Aplicar la función de limpieza
limpiar_texto(d)

[nltk_data] Downloading package stopwords to C:\Users\Jose
[nltk_data]     Julia\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                      text
1            sooo sad miss san diego ! ! !
2                           boss bulli ...
3                    interview ! leav alon
4  son * * * , ` put releas alreadi bought

In [55]:
limpiar_textoaa(data)

[nltk_data] Downloading package stopwords to C:\Users\Jose
[nltk_data]     Julia\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                                    text
0                                         ` respond , go
1                          sooo sad miss san diego ! ! !
2                                         boss bulli ...
3                                  interview ! leav alon
4                son * * * , ` put releas alreadi bought
...                                                  ...
27476  wish could come see u denver husband lost job ...
27477  ` wonder rake . client made clear . net , ` fo...
27478  yay good . enjoy break - probabl need hectic w...
27479                                      worth * * * .
27480           flirt go - atg smile . yay . ( ( hug ) )

[27481 rows x 1 columns]

In [56]:
data

                                                    text
0                                         ` respond , go
1                          sooo sad miss san diego ! ! !
2                                         boss bulli ...
3                                  interview ! leav alon
4                son * * * , ` put releas alreadi bought
...                                                  ...
27476  wish could come see u denver husband lost job ...
27477  ` wonder rake . client made clear . net , ` fo...
27478  yay good . enjoy break - probabl need hectic w...
27479                                      worth * * * .
27480           flirt go - atg smile . yay . ( ( hug ) )

[27481 rows x 1 columns]