# EXAMEN BAG

In [1]:
import pandas as pd
import numpy as np
import re
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.pipeline import make_pipeline

import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
from nltk.tokenize import TweetTokenizer
nltk.download('stopwords')
from nltk.stem import SnowballStemmer
print(" ".join(SnowballStemmer.languages)) 
from textblob import TextBlob

arabic danish dutch english finnish french german hungarian italian norwegian porter portuguese romanian russian spanish swedish

[nltk_data] Downloading package stopwords to C:\Users\Jose
[nltk_data]     Julia\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

EJERCICIO 1. Recopilación de datos.

In [25]:
data = pd.read_csv('Tweets.csv', usecols = ["text"])
d = data[1:5]

In [24]:
data2 = pd.read_csv('Tweets.csv')
data3 = data2[['text']]
#data = data["text"]

d3 = data3[1:5]
print(data3[1:5])
print(d)
d
#tknzr.tokenize_sents(d)

                                                text
1      Sooo SAD I will miss you here in San Diego!!!
2                          my boss is bullying me...
3                     what interview! leave me alone
4   Sons of ****, why couldn`t they put them on t...
                                                text
1      Sooo SAD I will miss you here in San Diego!!!
2                          my boss is bullying me...
3                     what interview! leave me alone
4   Sons of ****, why couldn`t they put them on t...

                                                text
1      Sooo SAD I will miss you here in San Diego!!!
2                          my boss is bullying me...
3                     what interview! leave me alone
4   Sons of ****, why couldn`t they put them on t...

In [15]:

data2 = pd.read_csv('Tweets.csv')
data3 = data2[['text']]
data3

                                                    text
0                    I`d have responded, if I were going
1          Sooo SAD I will miss you here in San Diego!!!
2                              my boss is bullying me...
3                         what interview! leave me alone
4       Sons of ****, why couldn`t they put them on t...
...                                                  ...
27476   wish we could come see u on Denver  husband l...
27477   I`ve wondered about rake to.  The client has ...
27478   Yay good for both of you. Enjoy the break - y...
27479                         But it was worth it  ****.
27480     All this flirting going on - The ATG smiles...

[27481 rows x 1 columns]

EJERCICIO 2. Limpieza del texto, eliminar palabras.

La diferencia principal entre word_tokenize y TweetTokenizer en NLTK radica en cómo manejan ciertos patrones de tokenización, especialmente en el contexto de las redes sociales y los textos informales como tweets.

word_tokenize:
Divide el texto en palabras y signos de puntuación.
Trata "cannot" como "can" y "not", dividiendo la palabra en dos tokens ("can" y "not").
Es más general y se utiliza para texto en general.

TweetTokenizer:
Especificamente diseñado para manejar tokens en tweets y otros textos informales.
Mantiene "cannot" como una sola palabra ("cannot").
Reconoce emoticonos y maneja algunas convenciones específicas de los tweets, como hashtags y menciones.

En resumen, TweetTokenizer está diseñado para trabajar mejor con texto de redes sociales y texto informal, mientras que word_tokenize es más general y puede dividir ciertas palabras de manera diferente. La elección entre ellos depende del tipo de texto con el que estés trabajando y de cómo quieras que se manejen ciertos patrones específicos.

In [4]:
import nltk
nltk.download('punkt')
from nltk.tokenize import TweetTokenizer
s4 = "I cannot cannot work under these conditions!"
print(word_tokenize(s4))
print(TweetTokenizer().tokenize(s4))


import re
s1 = "I cannot wait to see you @gloari, #queso http//hola"
texto_procesado = re.sub(r'(@\w+|#\w+|http\S+)', '', s1)
print(s1, texto_procesado)


s2 = "HOLA"
print(s2.lower())

s3 = 1.73
type(s3)

['I', 'can', 'not', 'can', 'not', 'work', 'under', 'these', 'conditions', '!']
['I', 'cannot', 'cannot', 'work', 'under', 'these', 'conditions', '!']
I cannot wait to see you @gloari, #queso http//hola I cannot wait to see you ,
hola

[nltk_data] Downloading package punkt to C:\Users\Jose
[nltk_data]     Julia\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

float

In [17]:
s0 = "This is a cooool #dummysmiley: :-) :-P <3 and some arrows < > -> <--"
print(TweetTokenizer(s0))

<nltk.tokenize.casual.TweetTokenizer object at 0x0000020FE6B93250>

In [18]:
tknzr = TweetTokenizer()
s0 = "This is a cooool #dummysmiley: :-) :-P <3 and some arrows < > -> <--"
tknzr.tokenize(s0)
#TweetTokenizer().tokenize(s0)

['This',
 'is',
 'a',
 'cooool',
 '#dummysmiley',
 ':',
 ':-)',
 ':-P',
 '<3',
 'and',
 'some',
 'arrows',
 '<',
 '>',
 '->',
 '<--']

In [19]:
def float_texto(dataset):
    for indice, fila in dataset.iterrows():
        texto = fila['text']
        if type(texto) == str:
            print(texto)

float_texto(data)
        
    
    if pd.isna(texto):
            # Verificar si el valor es NaN
            print("NaN")
            print(fila)

IndentationError: unexpected indent (1050676386.py, line 10)

In [5]:
import re

In [ ]:
stop_words = set(stopwords.words('english'))
# stop = stopwords.words('english')

#print(stop, stop_words)
stemmer = SnowballStemmer(language = 'english')
# from nltk.stem.snowball import GermanStemmer
# stemmer = GermanStemmer()

s5 = "cared and fairly playing football"
s5 = tknzr.tokenize(s5)
#print(stemmer.stem(s5[3]))


print(data[:10])

def prueba_stop(dataset):
    #dataset = dataset.astype(str)
    tknzr = TweetTokenizer()
    import_words = []
    stop_words = set(stopwords.words('english'))
    
    for indice, fila in dataset.iterrows():
        texto = fila['text']
        texto_procesado = re.sub(r'(@\w+|#\w+|http\S+)', '', texto)
        texto_procesado = texto_procesado.lower()
        texto_procesado = tknzr.tokenize(texto_procesado)
        #print(texto)
        for word in texto_procesado:
            if word not in stop_words:
                import_words.append(word)
    print(import_words)


prueba_stop(data[:10])

In [19]:
#print(data[:10])

def limpiar_texto(dataset):
    dataset = dataset.astype(str)   # para asegurarnos de que todas las filas son cadenas y no otro tipo de dato
    tknzr = TweetTokenizer()
    stemmer = SnowballStemmer(language = 'english')
    stem_words = []
    stop_words = set(stopwords.words('english'))
    
    for indice, fila in dataset.iterrows():
        texto = fila['text']
        texto_procesado = re.sub(r'(@\w+|#\w+|http\S+)', '', texto)
        texto_procesado = texto_procesado.lower()
        texto_procesado = tknzr.tokenize(texto_procesado)
        stem_words = [stemmer.stem(word) for word in texto_procesado if word not in stop_words]
        final_text = ' '.join(stem_words)
        dataset.loc[indice, 'text'] = final_text

    return dataset

In [29]:
limpiar_texto(d3)

                                      text
1            sooo sad miss san diego ! ! !
2                           boss bulli ...
3                    interview ! leav alon
4  son * * * , ` put releas alreadi bought

In [28]:
d3

                                                text
1      Sooo SAD I will miss you here in San Diego!!!
2                          my boss is bullying me...
3                     what interview! leave me alone
4   Sons of ****, why couldn`t they put them on t...

In [13]:
def limpiar_texto3(dataset):
    dataset = dataset.astype(str)
    tknzr = TweetTokenizer()
    stemmer = SnowballStemmer(language='english')
    stop_words = set(stopwords.words('english'))

    for indice, fila in dataset.iterrows():
        texto = fila['text']
        texto_procesado = re.sub(r'(@\w+|#\w+|http\S+)', '', texto)
        texto_procesado = texto_procesado.lower()
        texto_procesado = tknzr.tokenize(texto_procesado)

        # Inicializar la lista de stem_words para cada fila
        stem_words = []

        for word in texto_procesado:
            # Utilizar expresión condicional completa
            stem_words.append(stemmer.stem(word) if word not in stop_words else word)

        final_text = ' '.join(stem_words)
        dataset.at[indice, 'text'] = final_text

    return dataset

In [14]:
limpiar_texto3(data)

                                                    text
0                      i ` d have respond , if i were go
1       sooo sad i will miss you here in san diego ! ! !
2                                my boss is bulli me ...
3                          what interview ! leav me alon
4      son of * * * , why couldn ` t they put them on...
...                                                  ...
27476  wish we could come see u on denver husband los...
27477  i ` ve wonder about rake to . the client has m...
27478  yay good for both of you . enjoy the break - y...
27479                        but it was worth it * * * .
27480  all this flirt go on - the atg smile . yay . (...

[27481 rows x 1 columns]

In [15]:
data

                                                    text
0                    I`d have responded, if I were going
1          Sooo SAD I will miss you here in San Diego!!!
2                              my boss is bullying me...
3                         what interview! leave me alone
4       Sons of ****, why couldn`t they put them on t...
...                                                  ...
27476   wish we could come see u on Denver  husband l...
27477   I`ve wondered about rake to.  The client has ...
27478   Yay good for both of you. Enjoy the break - y...
27479                         But it was worth it  ****.
27480     All this flirting going on - The ATG smiles...

[27481 rows x 1 columns]

Dentro de la función TweetTokenizer() tenemos opciones para hacer casi todo lo que nos piden con argumentos de ella misma, por lo que el código estará más depurado. 
    - reduce_len= True  <- repeated character seq of 3+ to just 3. 
    - strip_handles = True <- remove Twitter handles such as usernames.
    - preserve_case = False <- uppercase tokens to lowercase ones. Emoticons not affected.

In [ ]:
def limpiar_texto2(dataset):
    dataset = dataset.astype(str)   # para asegurarnos de que todas las filas son cadenas y no otro tipo de dato
    tknzr = TweetTokenizer(preserve_case = False, strip_handles = True, reduce_len = True)
    for indice, fila in dataset.iterrows():
        texto = fila['text']
        texto_procesado = tknzr.tokenize(texto)
        print(texto_procesado)
    
limpiar_texto2(data)

In [52]:
data

                                                    text
0                    I`d have responded, if I were going
1          Sooo SAD I will miss you here in San Diego!!!
2                              my boss is bullying me...
3                         what interview! leave me alone
4       Sons of ****, why couldn`t they put them on t...
...                                                  ...
27476   wish we could come see u on Denver  husband l...
27477   I`ve wondered about rake to.  The client has ...
27478   Yay good for both of you. Enjoy the break - y...
27479                         But it was worth it  ****.
27480     All this flirting going on - The ATG smiles...

[27481 rows x 1 columns]

In [47]:
def limpiar_textodef(dataset):
    dataset['text'] = dataset['text'].astype(str)
    
    # Inicializar el tokenizador de tweets y el stemmer
    tokenizer = TweetTokenizer(preserve_case = False)
    stemmer = SnowballStemmer('english')
    
    # Obtener la lista de stop words en inglés
    stop_words = set(stopwords.words('english'))
    
    # Iterar sobre cada fila del DataFrame
    for index, row in dataset.iterrows():
        # Obtener el texto de la fila
        texto = row['text']
        
        # Eliminar menciones, hashtags y URLs
        texto_procesado = re.sub(r'@[^\s]+|#[^\s]+|http[^\s]+|www[^\s]+', '', texto)
        
        # Convertir a minúsculas
        #texto = texto.lower()
        
        # Tokenización
        tokens = tokenizer.tokenize(texto)
        
        # Eliminar stop words y aplicar lematización (stemming)
        tokens = [stemmer.stem(word) for word in tokens if word not in stop_words]
        
        # Unir las palabras en una cadena separada por espacios
        final_text = ' '.join(tokens)
        
        # Reemplazar el texto original en el DataFrame
        dataset.at[index, 'text'] = final_text
    
    return dataset

# Cargar datos
data = pd.read_csv('Tweets.csv', usecols=["text"])
d = data[1:5]

# Aplicar la función de limpieza
limpiar_textodef(data)

                                                    text
0                                         ` respond , go
1                          sooo sad miss san diego ! ! !
2                                         boss bulli ...
3                                  interview ! leav alon
4                son * * * , ` put releas alreadi bought
...                                                  ...
27476  wish could come see u denver husband lost job ...
27477  ` wonder rake . client made clear . net , ` fo...
27478  yay good . enjoy break - probabl need hectic w...
27479                                      worth * * * .
27480           flirt go - atg smile . yay . ( ( hug ) )

[27481 rows x 1 columns]

In [48]:
data

                                                    text
0                                         ` respond , go
1                          sooo sad miss san diego ! ! !
2                                         boss bulli ...
3                                  interview ! leav alon
4                son * * * , ` put releas alreadi bought
...                                                  ...
27476  wish could come see u denver husband lost job ...
27477  ` wonder rake . client made clear . net , ` fo...
27478  yay good . enjoy break - probabl need hectic w...
27479                                      worth * * * .
27480           flirt go - atg smile . yay . ( ( hug ) )

[27481 rows x 1 columns]

In [32]:
tweets = pd.read_csv('Tweets.csv')
tweets=tweets["text"]

In [32]:
def limpiar_textovicente(dataset):
    dataset = dataset.astype(str)
    for n in range(0,len(dataset)-1):
        texto_limpio = re.sub(r"@\w+|#\w+|https?://\S+|www\.\S+","",dataset[n])
        texto_minusculas = texto_limpio.lower()
        tokenizer = TweetTokenizer()
        texto_separado = tokenizer.tokenize(texto_minusculas)
        
        stop_words = set(stopwords.words('english'))
        
        texto_filtrado = []
        for palabra in texto_separado:
            if palabra not in stop_words:
                texto_filtrado.append(palabra)
            
            lematizacion = SnowballStemmer("english")
            lexemas = [lematizacion.stem(palabra) for palabra in texto_filtrado]
        
        texto_final = " ".join(lexemas)
        dataset[n]=texto_final
    
    return dataset

In [33]:
limpiar_textovicente(d)

KeyError: 0

EJERCICIO 3. Etiquetado de datos con herramientas ya 
existentes. (2p)
Define una función llamada clasificador que toma el dataset con el texto procesado y limpio 
como entrada. El resultado de este proceso debe almacenarse en un archivo CSV con dos columnas:
una para la frase o texto y otra para la etiqueta correspondiente.

➢ Para cada línea de texto del data set, la función debe:

    ➢ Utilizar el modelo TextBlob para realizar un análisis de sentimiento. Investiga cómo hacerlo.

    ➢ En función de la polaridad calculada, clasificar el sentimiento en categorías específicas. Las categorías deben incluir "Contento", "Muy feliz", "Neutro", "Molesto" y "Hater".

➢ Finalmente, guardar los resultados como una columna nueva en el dataset.

In [73]:
from textblob import TextBlob

# Ejemplo de texto
texto = "you are a prostitute"
texto1 = "i hate you a lot, i want to kill you, murder you, commit war crimes,suicide, kill myself and all my family, kill babies"
# Crear un objeto TextBlob
blob = TextBlob(texto)
blob1 = TextBlob(texto1)

# Analizar el sentimiento
sentimiento = blob.sentiment
sentimiento1 = blob1.sentiment

# Imprimir el resultado
print(sentimiento, sentimiento1)


data[10:23]

Sentiment(polarity=0.0, subjectivity=0.0) Sentiment(polarity=-0.8, subjectivity=0.9)

                                                 text
10  much love hope , reckon chanc minim =p ` never...
11    realli realli like song love stori taylor swift
12                          sharpi run danger low ink
13                  want go music tonight lost voic .
14                                 test test lg env 2
15                                    uh oh , sunburn
16              ` ok , tri plot altern speak * sigh *
17  ` sick past day thus , hair look wierd . didnt...
18                     back home gonna miss everi one
19                                                hes
20      oh mar , ` sorri ! ! hope find soon ! ! <3 <3
21  play ghost onlin realli interest . new updat k...
22               clean hous famili com later today ..

In [106]:
def clasificador(dataset):
    sentiments = {}
    for indice, fila in dataset.iterrows():
        texto = fila['text']
        polaridad = TextBlob(texto).sentiment.polarity

        #blob = TextBlob(texto).sentiment.polarity
        #sentiments.append(TextBlob(texto).sentiment.polarity)
#         sentiments[indice] = TextBlob(texto).sentiment.polarity
        if polaridad >= 0.5:
            sentiments[indice] == 'Muy feliz'
        elif 0.5 > polaridad > 0:
            sentiments[indice] == 'Contento'
        elif polaridad == 0:
            sentiments[indice] == 'Neutro'
        elif 0 > polaridad >= -0.5:
            sentiments[indice] == 'Molesto'
        elif polaridad < -0.5:
            sentiments[indice] == 'Hater'
            


def clasificador2(dataset):
    sentiments = {}

    for indice, fila in dataset.iterrows():
        texto = fila['text']
        polaridad = TextBlob(texto).sentiment.polarity

        if polaridad >= 0.5:
            sentiments[indice] = 'Muy feliz'
        elif 0.5 > polaridad > 0:
            sentiments[indice] = 'Contento'
        elif polaridad == 0:
            sentiments[indice] = 'Neutro'
        elif 0 > polaridad >= -0.5:
            sentiments[indice] = 'Molesto'
        elif polaridad < -0.5:
            sentiments[indice] = 'Hater'

    return sentiments

In [107]:
clasificador2(d)

{1: 'Hater', 2: 'Neutro', 3: 'Neutro', 4: 'Neutro'}

In [90]:
def text_sentiment(text):
    testimonial = TextBlob(text)
#     return int(testimonial.sentiment.polarity>0.5)

0

In [36]:
def limpiar_textovicente2(dataset):
    dataset = dataset.astype(str)
    for n in range(len(dataset)):
        texto_limpio = re.sub(r"@\w+|#\w+|https?://\S+|www\.\S+","", dataset['text'].iloc[n])
        texto_minusculas = texto_limpio.lower()
        tokenizer = TweetTokenizer()
        texto_separado = tokenizer.tokenize(texto_minusculas)
        
        stop_words = set(stopwords.words('english'))
        
        texto_filtrado = [palabra for palabra in texto_separado if palabra not in stop_words]
        
        lematizacion = SnowballStemmer("english")
        lexemas = [lematizacion.stem(palabra) for palabra in texto_filtrado]
        
        texto_final = " ".join(lexemas)
        dataset.at[n, 'text'] = texto_final
    
    return dataset

In [37]:
limpiar_textovicente2(d)

                                                text
1                                     boss bulli ...
2                              interview ! leav alon
3            son * * * , ` put releas alreadi bought
4   Sons of ****, why couldn`t they put them on t...
0                      sooo sad miss san diego ! ! !

In [38]:
d

                                                text
1      Sooo SAD I will miss you here in San Diego!!!
2                          my boss is bullying me...
3                     what interview! leave me alone
4   Sons of ****, why couldn`t they put them on t...